/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
 * Add your fonts to 'assets/icons/' folder and run grunt webfont
 * and this file will be replaced with some magic! "Magic I tells thee"!!!
 */
