/**
 * This is a sample JS function file which lays out the core structure used
 * for any JS functions/class thing'ys
 *
 * Within the main.js file we need to implement this class using the following code:
 *
    if( typeof {{XXX}}ClassName != 'undefined' ) { {{XXX}}ClassName.init(); }
 *
 *
 */
var {{XXX}}ClassName = {

	init : function() {

		{{XXX}}ClassName.sample_function();

	},
	sample_function : function() {


	}

};
