/*------------------------------------*\
    #PLACEHOLDER
\*------------------------------------*/

/**
 * Apply placeholder text styles
 *
 */
@mixin placeholder( $color: #ccc ) {

	&:-moz-placeholder            { color: $color; } // Firefox 4-18
	&::-moz-placeholder           { color: $color; } // Firefox 19+
	&:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: $color; } // Safari and Chrome

}
